
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video {
  margin:0; padding:0;border:0;vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
 line-height:1;
 font-family: "flex-thin";
}
ol,ul {
  list-style:none;
}
blockquote,q {
  quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
  content:'';content:none;
}
table {border-collapse:collapse;border-spacing:0;}
*:focus{outline:none;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
body,input{-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility !important;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#000 !important;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:transparent !important;}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent !important;}
@font-face {
  font-family:"flex";
  src: url('../fonts/mensch.ttf');
}
@font-face {
  font-family:"flex-thin";
  src: url('../fonts/PrimeLight.otf');
}
@font-face {
  font-family:"flex-inline";
  src: url('../fonts/mensch-inline.ttf');
}
strong{font-family:"flex",'Trebuchet MS',Arial,sans-serif;font-weight:bold;font-style:normal;}

html,body{
height:100%; 
}
.curtain-removed .menu {
  display:block;
}
a {
  text-decoration: none;
}


.menu{
  display:none;position:fixed;
  width:314px;
  height:25px;
  left:50%;
  bottom:5%;
  margin-left:-200px;
  background:#fff;
  border-radius:28px;
  text-align:justify;
  line-height:40px;
  padding:0 43px 15px;
  opacity: 0.4;
}


.menu ul,.menu li{
  display:inline;}
.menu li{
  font-family: Arial,sans-serif;
font-weight:normal;font-style:normal;font-size:16px;color:#8c8a8b;cursor:pointer;}
.no-touch .menu li:hover{color:#363234 !important;}
.menu span{display:inline-block;position:relative;width:100%;height:0;}

.content-wrapper{
  background:#000;
  }

.content-wrapper.inactive{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden !important;}

.no-touch .content-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow-y:scroll;
}
.content-wrapper .page{
  position:relative;
  width:100%;
  height:100%;
  min-height:672px;
  overflow:hidden;
}
.content-wrapper .page.page-intro .content{
  position:absolute;
  width:840px;
  height:400px;
  left:50%;
  top:50%;
  margin-top:-150px;
  margin-left:-420px;
}
.content-wrapper .page.page-intro .content .message{
  text-align:center;
  font-family:"flex-thin", Arial,sans-serif;font-weight:normal;
  font-style:normal;line-height:58px;
  font-size:48px;color:#fff;
}

.content-wrapper .page.page-learning, 
.content-wrapper .page.page-interview{
  min-height:600px;}
.content-wrapper .page.page-learning .content, 
.content-wrapper .page.page-interview .content{
  position:absolute;
  width:1504px;
  height:600px;
  left:50%;
  top:25%;
  margin-top:-230px;
  margin-left:-752px;}
.content .photo img { 
  float: left; margin-top: 120px; 
  margin-left: 300px;
  -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

.content .photo img:hover {
 -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transition: all 1.7s ease-in-out;
    -moz-transition: all 1.7s ease-in-out;
    -ms-transition: all 1.7s ease-in-out;
    -o-transition: all 1.7s ease-in-out;
    transition: all 1.7s ease-in-out;
  }

.content-wrapper .page.page-learning .content .message, 
.content-wrapper .page.page-interview .content .message{
  position:absolute;
  left:44%;margin-left:50px;
  top:85px;width:500px;
  height:180px;}
.content-wrapper .page.page-learning .content .message .caption,
.content-wrapper .page.page-interview .content .message .caption, 
.page-interview .content .message .caption{
  font-family:"flex-thin",Arial;
  font-size:60px;color:#fff;}

.content-wrapper .page.page-interview .content .message .caption {
  color: #1d1a1b;
}

.content-wrapper .page.page-learning .content .message .text, 
.content-wrapper .page.page-interview .content .message .text{
margin-top:17px;font-family:"flex-thin",'Trebuchet MS',Arial,sans-serif;
font-weight:normal;font-style:normal;
font-size:25px;color:rgba(255, 255, 255, 0.8);
line-height:30px;}
.content-wrapper .page.page-interview .content .message .text {  
 color:#1d1a1b; width: 100%;}
.content-wrapper .page.page-research .content{
  position:absolute;
  width:1042px;
  height:400px;
  left:50%;top:50%;
  margin-top:-320px;
  margin-left:-580px;}
.content-wrapper .page.page-research .content .message{
  position:absolute;top:20px;left:72px;width:450px;}
.content-wrapper .page.page-research .content .message .caption{
  font-family:"flex-thin",Arial,sans-serif;
  font-size:60px;
  color:#1d1a1b;}
.content-wrapper .page.page-research .content .message .text{
  margin-top:45px;
  font-family:"flex-thin",'Trebuchet MS',Arial;
  font-weight:400;
  font-size:23px;
 line-height:25px;
  color:rgba(29, 26, 27, 0.9); width:110%;}

.page.page-research .content .vidget {
  position:absolute; 
  top: 40px; 
  left: 120%;
  width:250px;
}

.text a {
  font-weight: bold;
  color: #000;
  transition: all 0.2s ease-in-out 0s;

}

.text a:hover {
  opacity: 0.6;
    -webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;

}

.content-wrapper .page.page-subscribe .copyright{
  position:absolute;width:260px;left:48px;
  bottom:28px;
  color:rgba(29, 26, 27, 0.7);
  font-size:12px;line-height:16px;font-family:"flex-thin",'Trebuchet MS',Arial,sans-serif;
  font-weight:normal;font-style:normal;}
.content-wrapper .page.page-subscribe .copyright a{
  color: #000;
}
.content-wrapper .page.page-subscribe .hello { 
  text-decoration:none; display:block;
  position:absolute;right:48px;
  bottom:33px;
  color:rgba(29, 26, 27, 0.7);
  font-size:14px;
  font-family:"flex-thin",Arial,sans-serif;font-weight:normal;
  font-style:normal;text-decoration:none;
 }
.no-touch .content-wrapper .page.page-subscribe .hello:hover{
opacity: 0.8;}
.content-wrapper .page.page-subscribe {
  height: 500px;
  margin-top: -200px;
}
.content-wrapper .page.page-subscribe .content{
  position:absolute;
  width:624px;
  height:400px;
  left:50%;
  top:60%;
  margin-top:-225px;
  margin-left:-312px;}
.content-wrapper .page.page-subscribe .content .caption{
  font-family:"flex-thin",Arial,sans-serif;font-weight:bold;font-style:normal;text-align:center;font-size:88px;color:#1d1a1b;}
.content-wrapper .page.page-subscribe .content .text1{color:rgba(29, 26, 27, 0.7);margin-top:20px;text-align:center;font-size:21px;line-height:28px;font-family:"flex",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;}
.content-wrapper .page.page-subscribe .content .text2{margin-top:25px;padding:0 82px;color:rgba(29, 26, 27, 0.7);text-align:center;font-size:15px;line-height:20px;font-family:"flex",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;}


.crumpled-box {
  position:fixed;
  top:0;left:0;
  width:100%;
} 
.crumpled-box .scroll-wrapper{
  cursor:pointer;
  position:absolute;
  left:49%;
  margin-top:-22px;
  width:54px;height:45px;
  background-image:url('../img/arrow.png');
 background-repeat:no-repeat;background-size:28px 42px;
 transition: all 0.2s ease-in-out 0s;
 }

.crumpled-box .scroll-wrapper:hover {opacity: 0.3;
  margin-top:-25px;
 -webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}

.crumpled-box .line-wrapper{position:absolute;left:0;width:100%;height:110px;  }
.crumpled-box .line-wrapper .line{
  width:100%;
  height:100%;
  font-size:40px;color:#1d1a1b;text-align:center;
  font-family:"flex-thin",
  'Trebuchet MS',Arial,sans-serif;font-weight:normal;
  font-style:normal;
  background: url('../img/blank222.png') repeat center top;


}
.crumpled-box .line-wrapper .gradient{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  opacity:0.2;
}

.crumpled-box .line-wrapper.odd .gradient{
  background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:-o-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);}
.crumpled-box .line-wrapper.even .gradient{
  background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:-o-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);}

.crumpled-box .logo{position:absolute;width:159px;height:40px;left:50%;top:50%;margin-left:-80px;margin-top:-20px;
  background-image:url('../img/til.png');background-repeat:no-repeat;background-size:159px 40px;}
.crumpled-box .til {font-size: 0.7em;
}

@media all and (max-device-width:767px){
  .curtain-removed .logo,.curtain-removed .login,.curtain-removed .menu{display:none;} 
  .content-wrapper .page{height:auto !important;min-height:0;}
  .content-wrapper .page.page-intro{background:#00212c;padding:34px 0 72px;}
  .content-wrapper .page.page-intro .content{position:relative;width:100%;
    height:auto;left:0;top:0;margin-top:0;margin-left:0;}
    .content-wrapper .page.page-intro .content .logo{position:relative;width:159px;height:38px;
      margin:0 auto;background-image:url('/img/til.jpg');
      background-repeat:no-repeat;background-size:159px 38px;} 
      .content-wrapper .page.page-intro .content .message{margin-top:26px;
        padding:0 30px;line-height:40px;font-size:28px;}
        .content-wrapper .page.page-intro .content .message br{display:none;} 
        .content-wrapper .page.page-intro .content .social{margin:34px auto 0;} 
        .content-wrapper .page.page-learning{min-height:0;background:#00b68c;padding:39px 0 106px;}
        .content-wrapper .page.page-learning .content{position:relative;width:100%;height:auto;
          left:0;top:0;margin-top:0;margin-left:0;}
         
            
            .content-wrapper .page.page-learning .content .message{margin-top:-78px;position:relative;left:0;margin-left:0;top:0;width:auto;height:auto;}
            .content-wrapper .page.page-learning .content .message .caption{font-size:56px;color:#363234;text-align:center;} 
            .content-wrapper .page.page-learning .content .message .text{
              font-size:16.01px;padding:0 34px;
              margin-top:15px;color:rgba(54, 50, 52, 0.8);line-height:22px;text-align:center; font-weight: bold; letter-spacing: 2px;} 
           
           
              .crumpled-box .logo{margin-top:-18px; color: black; z-index: 9999;} 
              .crumpled-box .scroll-wrapper{margin-left:-45px;margin-top:-11px;width:90px;height:21px;background-position:44px 0px;background-size:4px 21px;}
             
 @media all and (max-device-width:767px) and (orientation:landscape){
    .crumpled-box .logo{width:85px;height:20px;left:50%;top:50%;margin-left:-42px;margin-top:-10px;background-image:url('../img/til.jpg');background-repeat:no-repeat;background-size:85px 20px;}}

@media all and (device-width:768px) and (device-height:1024px){
                .content-wrapper .page.page-intro{background:#00212c;} 
                .content-wrapper .page.page-learning{background:#00b68c;}
                .content-wrapper .page.page-learning .content .message .caption{color:#1d1a1b;} 
                .content-wrapper .page.page-learning .content .message .text{color:rgba(29, 26, 27, 0.7);} 
                .content-wrapper .page.page-research{background:#cdcfd4;} 
                .content-wrapper .page.page-interview{background:#36b2e2;} 
                .content-wrapper .page.page-subscribe{background:#a4f2d4;}}


@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-device-width:767px){
    .content-wrapper .page.page-intro .content .logo{background-image:url('../img/til.jpg');} 
                  .content-wrapper .page.page-learning .content .photo{background-image:url('../img/homepage/iphone/retina-mac-body.png');} 
               ;}}

.sound .artVisible {
  opacity: 0.2;
}

.contact-page {
  width: 100%;
  height:100%;
  color: #000;
  font-family: "flex-thin";
   box-shadow: 
    -moz-box-shadow:    inset 0 0px 300px #888888;
    -webkit-box-shadow: inset 0 0px 300px #888888;
    box-shadow:         inset 0 0px 300px #888888;

background-image: linear-gradient(bottom, rgb(222,204,224) 2%, rgb(52,143,217) 100%, rgb(255,255,255) 0%);
background-image: -o-linear-gradient(bottom, rgb(222,204,224) 2%, rgb(52,143,217) 100%, rgb(255,255,255) 0%);
background-image: -moz-linear-gradient(bottom, rgb(222,204,224) 2%, rgb(52,143,217) 100%, rgb(255,255,255) 0%);
background-image: -webkit-linear-gradient(bottom, rgb(222,204,224) 2%, rgb(52,143,217) 100%, rgb(255,255,255) 0%);
background-image: -ms-linear-gradient(bottom, rgb(222,204,224) 2%, rgb(52,143,217) 100%, rgb(255,255,255) 0%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.02, rgb(222,204,224)),
  color-stop(1, rgb(52,143,217)),
  color-stop(0, rgb(255,255,255))
);
}



#contact h1, #about-me h1 {
text-align: center;
padding: 5%;
font-family: "flex";
text-shadow: 0px 1px 1px rgba(0, 0, 0, .6);
}


#contact input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #000;
  width: 100%;
  font-family: "flex-thin";
  font-size: 1.5em;

}

#contact textarea {
  background-color: transparent;
  border: 3px solid #000;
   width: 100%;
   font-family: "flex-thin";
  font-size: 1.5em;
  border-radius: 8px;
}


form .title, .title {
  font-size: 1.5em;
  padding: 5% 0 5% 2%;
  font-weight: 600;
}



.button, #ss-submit {
background: linear-gradient(bottom,#ffffff 0%,#c41d1d 20%);
border: 2px solid #000;
box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .5);
padding: 16px 75px;
border-radius: 8px;
font-family: "flex-thin";
font-size: 2em;
margin-top: 2%;
width: 105%;
font-weight: 600;

}
.button {
  width:40%;
  padding: 3%;
  margin: 5% 0 0 30%;
  font-size: 1.3em;
}
.message, .name {
  margin-left: 7%;
  margin-top: 5%;
}

.about-text {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-left: 8%;
  margin-top: 4%;
  font-weight: 500;
  font-family: 'flex-thin';
 
}
.about-text a{
  color: #000;
  font-weight: 600;
  transition: all 0.2s ease-in-out 0s;
}

.about-text a:hover{
  opacity: 0.7;
  -webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}

.about-text p {
  padding-bottom: 2%;
}

.photov img {
  margin-top: 30%;
  margin-left: 8%;
  -webkit-box-shadow: 0 2px 0 rgba(255,255,255,.2), inset 0 5px 6px rgba(0,0,0,.6), inset 0 2px 0 rgba(0,0,0,.6);
-moz-box-shadow: 0 2px 0 rgba(255,255,255,.2), inset 0 5px 6px rgba(0,0,0,.6), inset 0 2px 0 rgba(0,0,0,.6);
box-shadow: 0 2px 0 rgba(255,255,255,.2), inset 0 5px 6px rgba(0,0,0,.6), inset 0 2px 0 rgba(0,0,0,.6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 3px solid #000;
    transition: all 0.2s ease-in-out 0s;
}

.photov img:hover{
  opacity: 0.7;
  -webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}

.page-subscribe input[type="submit"] {
position: absolute;
right: 12%;
top: 60%;
color: transparent;
width: 49px;
border-radius: 0 2px 2px 0;
height: 48px;
background: #fff;
background-image: url('../img/arrow-right.png') ;
background-repeat: no-repeat;
background-size: 50px 48px;
border: none;
transition: all 0.2s ease-in-out 0s;
}

.page-subscribe input[type="submit"]:hover {
    right: 11%;
  opacity: 0.5;
  -webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
  }

.page-subscribe input[type="email"] {
position: absolute;
left: 15%;
top: 60%;
width: 60%;
border-radius: 3px 0 0 2px;
height: 48px;
padding: 0 15px;
border: 0;
margin: 0;
font-size: 2em;
font-family: "flex-thin",'Trebuchet MS',Arial,sans-serif;
color: #1d1a1b;
background: white;
text-transform: lowercase;
}

.arrow-back {
  position: fixed;
  left: 12%;
  top:7%;
  border: none;
  transition: all 0.2s ease-in-out 0s;

}

.arrow-back:hover {
  left: 11%;
  opacity: 0.5;
    -webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}

.arrow-interview {
  position: absolute;
  right: 57%;
  top:122%;
  border: none;
  transition: all 0.2s ease-in-out 0s;
}

.arrow-interview:hover {
  right: 56%;
  opacity: 0.5;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.arrow-research {
  position: absolute;
  right: 68%;
  top:91%;
  border: none;
  transition: all 0.2s ease-in-out 0s;
}

.arrow-research:hover {
  right: 67%;
  opacity: 0.5;
  -webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}
