



html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video {
  margin:0; padding:0;border:0;vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul {
  list-style:none;
}
blockquote,q {
  quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
  content:'';content:none;
}
table {border-collapse:collapse;border-spacing:0;}
*:focus{outline:none;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
body,input{-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility !important;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:transparent !important;}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent !important;}
.apercu_bold{ 
  font-family:"Apercu Pro Bold",'Trebuchet MS',Arial,sans-serif;
  font-weight:bold;
  font-style:normal;
}
.apercu_regular {
  font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;
  font-weight:normal;
  font-style:normal;
}
.apercu_medium{
  font-family:"Apercu Pro Medium",'Trebuchet MS',Arial,sans-serif;font-weight:600;
  font-style:normal;
}
strong{font-family:"Apercu Pro Bold",'Trebuchet MS',Arial,sans-serif;font-weight:bold;font-style:normal;}

html,body{height:100%;}
.curtain-removed .readymag,.curtain-removed .login,.curtain-removed .menu {
  display:block;
}
.readymag {
  display:none;position:fixed;width:159px;
  height:38px;left:50%;top:26px;margin-left:-80px;
  background-image:url('');
  background-size:159px 38px;
  background-repeat:no-repeat;
  line-height: 45.699999999999996px;
font-size: 63.6px;
font-weight: bold;
}
.login {
  display:none;
  position:fixed;
  width:88px;
  height:40px;
  top:24px;
  right:32px;
  border-radius:20px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, 0.42);
  text-align:center;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;
  font-weight:normal;font-style:normal;color:#fff;font-size:14px;line-height:40px;text-decoration:none;
  }

.no-touch .login:hover{
  text-decoration:none;
  box-shadow:0 0 0 1px rgba(255, 255, 255, 0.82);
}
.menu{
  display:none;position:fixed;
  width:314px;
  height:56px;
  left:50%;
  bottom:26px;
  margin-left:-200px;
  background:#fff;
  border-radius:28px;
  text-align:justify;
  line-height:56px;
  padding:0 43px;
}


.menu ul,.menu li{
  display:inline;}
.menu li{font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;font-size:16px;color:#8c8a8b;cursor:pointer;}.no-touch .menu li:hover{color:#363234 !important;}
.menu span{display:inline-block;position:relative;width:100%;height:0;}

.content-wrapper{
  background:#00212c;
  }
.content-wrapper.inactive{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden !important;}
.no-touch .content-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow-y:scroll;
}
.content-wrapper .page{
  position:relative;
  width:100%;
  height:100%;
  min-height:672px;
  overflow:hidden;
}
.content-wrapper .page.page-intro .content{
  position:absolute;
  width:840px;
  height:300px;
  left:50%;
  top:50%;
  margin-top:-150px;
  margin-left:-420px;
}
.content-wrapper .page.page-intro .content .message{
  text-align:center;
  font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;
  font-style:normal;line-height:58px;
  font-size:48px;color:#fff;
}
.content-wrapper .page.page-intro .content .social{
  position:relative;
  width:206px;
  height:20px;
  margin:42px auto 0;
}
.content-wrapper .page.page-intro .content .social .facebook{
  position:absolute;
  left:0;
  top:0;}
.content-wrapper .page.page-intro .content .social .twitter{position:absolute;right:0;top:0;}
.content-wrapper .page.page-create{min-height:790px;}
.content-wrapper .page.page-create .content{position:absolute;width:1504px;height:635px;left:50%;top:50%;margin-top:-240px;margin-left:-752px;}
.content-wrapper .page.page-create .content .mac{position:absolute;top:0;left:0;width:1262px;height:635px;background-image:url('../img/homepage/mac-shadow.png');background-size:1262px 635px;background-repeat:no-repeat;}
.content-wrapper .page.page-create .content .mac .mac-body{position:absolute;width:670px;height:396px;top:2px;left:157px;background-image:url('../img/homepage/mac-body.png');background-size:670px 396px;background-repeat:no-repeat;}
.content-wrapper .page.page-create .content .mac .mac-body .mac-video{position:absolute;left:103px;top:36px;width:478px;height:270px;background:#000;}
.content-wrapper .page.page-create .content .message{position:absolute;left:50%;margin-left:116px;top:85px;width:332px;height:180px;}
.content-wrapper .page.page-create .content .message .caption{font-family:"Apercu Pro Bold",'Trebuchet MS',Arial,sans-serif;font-weight:bold;font-style:normal;font-size:88px;color:#fff;}
.content-wrapper .page.page-create .content .message .text{margin-top:17px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;font-size:20px;color:rgba(255, 255, 255, 0.8);line-height:26px;}
.content-wrapper .page.page-discover .content{position:absolute;width:1042px;height:640px;left:50%;top:50%;margin-top:-320px;margin-left:-521px;}
.content-wrapper .page.page-discover .content .ipad{position:absolute;left:318px;top:92px;width:732px;height:516px;background-image:url('../img/homepage/ipad.png');background-size:732px 516px;background-repeat:no-repeat;}
.content-wrapper .page.page-discover .content .ipad .ipad-video{position:absolute;left:105px;top:64px;width:496px;height:373px;background:#000;}
.content-wrapper .page.page-discover .content .message{position:absolute;top:20px;left:72px;width:236px;}
.content-wrapper .page.page-discover .content .message .caption{font-family:"Apercu Pro Bold",'Trebuchet MS',Arial,sans-serif;font-weight:bold;font-style:normal;font-size:88px;color:#1d1a1b;}
.content-wrapper .page.page-discover .content .message .text{margin-top:48px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;font-size:20px;color:rgba(29, 26, 27, 0.7);line-height:26px;width:100%;}
.content-wrapper .page.page-discover .content .message .demo-link{display:block;margin-top:51px;text-decoration:none;}
.content-wrapper .page.page-discover .content .message .demo-link .cover{margin-left:1px;width:128px;height:84px;background-image:url('../img/homepage/demo-cover.png');background-repeat:no-repeat;border-radius:2px;box-shadow:0 1px 1px 0 rgba(29, 26, 27, 0.42);background-size:128px 84px;margin-bottom:12px;}
.content-wrapper .page.page-discover .content .message .demo-link .link{font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;font-size:16px;color:rgba(54, 50, 52, 0.7);line-height:20px;border-bottom:1px solid rgba(54, 50, 52, 0.7);}
.no-touch .content-wrapper .page.page-discover .content .message .demo-link:hover .link{border-bottom:1px solid transparent;}
.content-wrapper .page.page-discover .content .message .demo-author{margin-top:9px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;font-size:12px;color:rgba(54, 50, 52, 0.7);}
.content-wrapper .page.page-more .content{position:absolute;width:885px;height:226px;left:50%;top:50%;margin-top:-127px;margin-left:-442px;}
.content-wrapper .page.page-more .item{float:left;width:243px;margin:0 26px;}
.content-wrapper .page.page-more .item .icon{position:relative;margin:0 auto;}
.content-wrapper .page.page-more .item.cross .icon{width:121px;height:71px;background-image:url('../img/homepage/item1.png');background-repeat:no-repeat;background-size:121px 71px;margin-bottom:29px;}
.content-wrapper .page.page-more .item.sell .icon{width:136px;height:64px;background-image:url('../img/homepage/item2.png');background-repeat:no-repeat;background-size:136px 64px;margin-top:7px;margin-bottom:29px;}
.content-wrapper .page.page-more .item.embed .icon{width:100px;height:65px;background-image:url('../img/homepage/item3.png');background-repeat:no-repeat;background-size:100px 65px;margin-top:7px;margin-bottom:28px;}
.content-wrapper .page.page-more .item .caption{text-align:center;color:#1d1a1b;font-size:32px;font-family:"Apercu Pro Bold",'Trebuchet MS',Arial,sans-serif;font-weight:bold;font-style:normal;}
.content-wrapper .page.page-more .item .text{margin-top:19px;text-align:center;color:rgba(29, 26, 27, 0.8);font-size:16px;line-height:22px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;}
.content-wrapper .page.page-beta .copyright{position:absolute;width:200px;left:48px;bottom:28px;color:rgba(29, 26, 27, 0.7);font-size:12px;line-height:16px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;}
.content-wrapper .page.page-beta .hello{display:block;position:absolute;right:48px;bottom:43px;color:rgba(29, 26, 27, 0.7);font-size:16px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;text-decoration:none;border-bottom:1px solid rgba(29, 26, 27, 0.7);}.no-touch .content-wrapper .page.page-beta .hello:hover{text-decoration:none;border-bottom:1px solid transparent;}
.content-wrapper .page.page-beta .content{position:absolute;width:624px;height:450px;left:50%;top:50%;margin-top:-225px;margin-left:-312px;}
.content-wrapper .page.page-beta .content .caption{font-family:"Apercu Pro Bold",'Trebuchet MS',Arial,sans-serif;font-weight:bold;font-style:normal;text-align:center;font-size:88px;color:#1d1a1b;}
.content-wrapper .page.page-beta .content .text1{color:rgba(29, 26, 27, 0.7);margin-top:20px;text-align:center;font-size:21px;line-height:28px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;}
.content-wrapper .page.page-beta .content .email{position:relative;width:480px;height:48px;margin:25px auto 0;}
.content-wrapper .page.page-beta .content .email .input{-moz-appearance:none;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;position:absolute;left:0;top:0;width:400px;border-radius:2px 0 0 2px;height:48px;padding:0 15px;border:0;margin:0;font-size:21px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;color:#1d1a1b;background:white;text-transform:lowercase;}.content-wrapper .page.page-beta .content .email .input::-webkit-input-placeholder{text-align:center;color:rgba(46, 46, 42, 0.4);}
.content-wrapper .page.page-beta .content .email .input:-moz-placeholder{text-align:center;color:rgba(46, 46, 42, 0.4);}
.no-touch .content-wrapper .page.page-beta .content .email .input:hover::-webkit-input-placeholder{color:rgba(46, 46, 42, 0.6);}
.no-touch .content-wrapper .page.page-beta .content .email .input:hover:-moz-placeholder{color:rgba(46, 46, 42, 0.6);}
.content-wrapper .page.page-beta .content .email .submit{position:absolute;right:0;top:0;width:49px;border-radius:0 2px 2px 0;height:48px;background:#fff;background-image:url('../img/homepage/go.png');background-repeat:no-repeat;background-size:50px 48px;}
.content-wrapper .page.page-beta .content .email.valid .submit{background-image:url('../img/homepage/go-active.png');cursor:pointer;}
.no-touch .content-wrapper .page.page-beta .content .email.valid .submit:hover{background-image:url('../img/homepage/go-hover.png');}
.content-wrapper .page.page-beta .content .email .after{position:absolute;left:0;top:0;width:100%;height:100%;display:none;border-radius:2px;line-height:48px;font-size:21px;background:#fff;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;color:#1d1a1b;text-align:center;}
.content-wrapper .page.page-beta .content .email.submitted .input{display:none;}
.content-wrapper .page.page-beta .content .email.submitted .submit{display:none;}
.content-wrapper .page.page-beta .content .email.submitted .after{display:block;}
.content-wrapper .page.page-beta .content .text2{margin-top:25px;padding:0 82px;color:rgba(29, 26, 27, 0.7);text-align:center;font-size:15px;line-height:20px;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;}
.content-wrapper .page.page-beta .content .text2.iphone{display:none;}
.content-wrapper .page.page-beta .content .text2 a{color:rgba(29, 26, 27, 0.7);text-decoration:none;border-bottom:1px solid rgba(29, 26, 27, 0.7);}
.no-touch .content-wrapper .page.page-beta .content .text2 a:hover{text-decoration:none;border-bottom:1px solid transparent;}
.content-wrapper .page.page-beta .content .social{position:relative;width:350px;height:20px;margin:24px auto 0;}
.content-wrapper .page.page-beta .content .social .facebook{float:left;margin-right:16px;}
.content-wrapper .page.page-beta .content .social .twitter{float:left;margin-right:5px;}
.content-wrapper .page.page-beta .content .social .twitter-follow{float:left;}
.content-wrapper .page.page-beta .content .flag{position:relative;margin:31px auto 0;width:48px;height:48px;background-image:url('../img/homepage/flag.png');background-repeat:no-repeat;background-size:48px 48px;}
.crumpled-box{position:fixed;top:0;left:0;width:100%;}
.crumpled-box .scroll-wrapper{cursor:pointer;opacity:0.5;position:absolute;left:50%;top:50%;margin-left:-62px;margin-top:-22px;width:124px;height:45px;background-image:url('../img/homepage/scroll-arrow.png');background-position:58px 2px;background-repeat:no-repeat;background-size:8px 42px;}.crumpled-box .scroll-wrapper .scroll-left,.crumpled-box .scroll-wrapper .scroll-right{position:absolute;height:20px;text-align:center;border-bottom:1px dotted #1d1a1b;top:11px;font-family:"Apercu Pro Medium",'Trebuchet MS',Arial,sans-serif;font-weight:600;font-style:normal;color:#1d1a1b;font-size:18px;text-shadow:none;line-height:20px;}
.crumpled-box .scroll-wrapper .scroll-left{left:6px;}
.crumpled-box .scroll-wrapper .scroll-right{right:6px;}
.no-touch .crumpled-box .scroll-wrapper:hover .scroll-left,.no-touch .crumpled-box .scroll-wrapper:hover .scroll-right{border-bottom:1px dotted transparent;}
.crumpled-box .logo{position:absolute;width:159px;height:40px;left:50%;top:50%;margin-left:-80px;margin-top:-20px;background-image:url('../img/homepage/readymag.png');background-repeat:no-repeat;background-size:159px 40px;}
.crumpled-box .login{display:block;position:absolute;width:88px;height:40px;right:24px;top:50%;margin-top:-20px;border-radius:20px;box-shadow:0 0 0 1px rgba(0, 0, 0, 0.08);text-align:center;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;color:#1d1a1b;font-size:14px;line-height:40px;text-decoration:none;}.no-touch .crumpled-box .login:hover{text-decoration:none;box-shadow:0 0 0 1px rgba(0, 182, 140, 0.48);color:#00b68c;}
.crumpled-box .line-wrapper{position:absolute;left:0;width:100%;height:120px;}
.crumpled-box .line-wrapper .line{width:100%;height:100%;background:#fafafa;font-size:58px;color:#1d1a1b;text-align:center;white-space:nowrap;font-family:"Apercu Pro Regular",'Trebuchet MS',Arial,sans-serif;font-weight:normal;font-style:normal;}
.crumpled-box .line-wrapper .gradient{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  opacity:0;
}
.crumpled-box .line-wrapper.odd .gradient{
  background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:-o-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background:linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);}
.crumpled-box .line-wrapper.even .gradient{
  background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:-o-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);
  background:linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.28) 100%);}
@media all and (max-device-width:767px){
  .curtain-removed .readymag,.curtain-removed .login,.curtain-removed .menu{display:none;} 
  .content-wrapper .page{height:auto !important;min-height:0;}
  .content-wrapper .page.page-intro{background:#00212c;padding:34px 0 72px;}
  .content-wrapper .page.page-intro .content{position:relative;width:100%;
    height:auto;left:0;top:0;margin-top:0;margin-left:0;}
    .content-wrapper .page.page-intro .content .logo{position:relative;width:159px;height:38px;
      margin:0 auto;background-image:url('../img/homepage/logo.png');
      background-repeat:no-repeat;background-size:159px 38px;} 
      .content-wrapper .page.page-intro .content .message{margin-top:26px;
        padding:0 30px;line-height:40px;font-size:28px;}
        .content-wrapper .page.page-intro .content .message br{display:none;} 
        .content-wrapper .page.page-intro .content .social{margin:34px auto 0;} 
        .content-wrapper .page.page-create{min-height:0;background:#00b68c;padding:39px 0 106px;}
        .content-wrapper .page.page-create .content{position:relative;width:100%;height:auto;
          left:0;top:0;margin-top:0;margin-left:0;}
          .content-wrapper .page.page-create .content .mac{position:relative;
            margin-left:-246px;left:50%;top:0;width:620px;
            height:312px;background-image:url('../img/homepage/iphone/mac-body.png');
            background-size:620px 312px;}
            .content-wrapper .page.page-create .content .mac .mac-body{position:absolute;width:100%;height:100%;top:0;left:0;background-image:none !important;}
            .content-wrapper .page.page-create .content .mac .mac-body .mac-video{position:absolute;left:127px;top:18px;width:236px;height:133px;background:#000;} 
            .content-wrapper .page.page-create .content .message{margin-top:-78px;position:relative;left:0;margin-left:0;top:0;width:auto;height:auto;}
            .content-wrapper .page.page-create .content .message .caption{font-size:56px;color:#363234;text-align:center;} 
            .content-wrapper .page.page-create .content .message .text{font-size:16.01px;padding:0 34px;margin-top:15px;color:rgba(54, 50, 52, 0.8);line-height:22px;text-align:center;} 
            .content-wrapper .page.page-discover{min-height:0;background:#cdcfd4;padding:21px 0 78px;}
            .content-wrapper .page.page-discover .content{position:relative;width:100%;height:auto;left:0;top:0;margin-top:0;margin-left:0;}
            .content-wrapper .page.page-discover .content .ipad{position:relative;margin-left:-161px;left:50%;top:0;width:330px;height:233px;background-image:url('../img/homepage/iphone/ipad.png');background-size:330px 233px;}
            .content-wrapper .page.page-discover .content .ipad .ipad-video{position:absolute;left:48px;top:30px;width:222px;height:167px;background:#000;} 
            .content-wrapper .page.page-discover .content .message{margin-top:3px;position:relative;left:0;margin-left:0;top:0;width:auto;height:auto;}
            .content-wrapper .page.page-discover .content .message .caption{font-size:56px;color:#363234;text-align:center;} 
            .content-wrapper .page.page-discover .content .message .text{width:auto;padding:0 34px;margin-top:15px;font-size:16.02px;color:rgba(54, 50, 52, 0.8);line-height:22px;text-align:center;} 
            .content-wrapper .page.page-discover .content .message .demo-link{display:none;} 
            .content-wrapper .page.page-discover .content .message .demo-author{display:none;} 
            .content-wrapper .page.page-more{min-height:0;background:#36b2e2;padding:27px 0 78px;}
            .content-wrapper .page.page-more .content{position:relative;width:100%;height:auto;left:0;top:0;margin-top:0;margin-left:0;} 
            .content-wrapper .page.page-more .item{float:none;margin:46px auto 0;} 
            .content-wrapper .page.page-beta{min-height:0;background:#a4f2d4;padding:57px 0 28px;}
            .content-wrapper .page.page-beta .copyright{position:relative;text-align:center;margin:36px auto 0;left:auto;bottom:auto;} 
            .content-wrapper .page.page-beta .hello{display:none;} 
            .content-wrapper .page.page-beta .content{position:relative;width:100%;height:auto;left:0;top:0;margin-top:0;margin-left:0;}
            .content-wrapper .page.page-beta .content .caption{font-size:56px;color:#363234;}
             .content-wrapper .page.page-beta .content .text1{color:rgba(54, 50, 52, 0.8);margin-top:15px;font-size:16px;line-height:22px;padding:0 32px;} 
             .content-wrapper .page.page-beta .content .email{width:100%;margin:20px 0 0;}
             .content-wrapper .page.page-beta .content .email .input{left:24px;right:74px;width:auto;}
              .content-wrapper .page.page-beta .content .email .submit{right:24px;} 
              .content-wrapper .page.page-beta .content .email .after{left:24px;right:24px;width:auto;font-size:17px;} 
              .content-wrapper .page.page-beta .content .text2{margin:25px auto 0;padding:0;width:257px;color:rgba(29, 26, 27, 0.8);}
              .content-wrapper .page.page-beta .content .text2 br{display:none;} 
              .content-wrapper .page.page-beta .content .text2.iphone{display:block;} 
              .content-wrapper .page.page-beta .content .text2.desktop{display:none;} 
              .content-wrapper .page.page-beta .content .text2 a{color:rgba(29, 26, 27, 0.8);} 
              .content-wrapper .page.page-beta .content .social{width:240px;height:56px;text-align:center;margin:23px auto 0;}
              .content-wrapper .page.page-beta .content .social .facebook{display:inline-block;margin-right:16px;float:none;height:20px;position:relative;} 
              .content-wrapper .page.page-beta .content .social .twitter{display:inline-block;float:none;height:20px;margin-right:0;position:relative;top:3px;} 
              .content-wrapper .page.page-beta .content .social .twitter-follow{display:inline-block;float:none;margin-top:16px;position:relative;} 
              .content-wrapper .page.page-beta .content .flag{margin:40px auto 0;} 
              .crumpled-box .login{display:none;} 
              .crumpled-box .logo{margin-top:-18px;} 
              .crumpled-box .scroll-wrapper{margin-left:-45px;margin-top:-11px;width:90px;height:21px;background-position:44px 0px;background-size:4px 21px;}
              .crumpled-box .scroll-wrapper .scroll-left,.crumpled-box .scroll-wrapper .scroll-right{height:16px;top:2px;font-size:14px;line-height:16px;} 
              .crumpled-box .scroll-wrapper .scroll-left{left:3px;} 
              .crumpled-box .scroll-wrapper .scroll-right{right:1px;}}
 @media all and (max-device-width:767px) and (orientation:landscape){
                .crumpled-box .logo{width:85px;height:20px;left:50%;top:50%;margin-left:-42px;margin-top:-10px;background-image:url('../img/homepage/iphone/curtain-logo-landscape.png');background-repeat:no-repeat;background-size:85px 20px;}}

@media all and (device-width:768px) and (device-height:1024px){
                .content-wrapper .page.page-intro{background:#00212c;} 
                .content-wrapper .page.page-create{background:#00b68c;}
                .content-wrapper .page.page-create .content .message .caption{color:#1d1a1b;} 
                .content-wrapper .page.page-create .content .message .text{color:rgba(29, 26, 27, 0.7);} 
                .content-wrapper .page.page-discover{background:#cdcfd4;} 
                .content-wrapper .page.page-more{background:#36b2e2;} 
                .content-wrapper .page.page-beta{background:#a4f2d4;}}

@media only screen and (-webkit-min-device-pixel-ratio:2){
                  .readymag{background-image:url('../img/homepage/retina-logo.png');} 
                  .content-wrapper .page.page-create .content .mac .mac-body{background-image:url('../img/homepage/retina-mac-body.png');} 
                  .content-wrapper .page.page-discover .content .ipad{background-image:url('../img/homepage/retina-ipad.png');} 
                  .content-wrapper .page.page-discover .content .message .demo-link .cover{background-image:url('../img/homepage/retina-demo-cover.png');} 
                  .content-wrapper .page.page-more .item.cross .icon{background-image:url('../img/homepage/retina-item1.png');} 
                  .content-wrapper .page.page-more .item.sell .icon{background-image:url('../img/homepage/retina-item2.png');} 
                  .content-wrapper .page.page-more .item.embed .icon{background-image:url('../img/homepage/retina-item3.png');} 
                  .content-wrapper .page.page-beta .content .email .submit{background-image:url('../img/homepage/retina-go.png');} 
                  .content-wrapper .page.page-beta .content .email.valid .submit{background-image:url('../img/homepage/retina-go-active.png');} 
                  .no-touch .content-wrapper .page.page-beta .content .email.valid .submit:hover{background-image:url('../img/homepage/retina-go-hover.png');} 
                  .content-wrapper .page.page-beta .content .flag{background-image:url('../img/homepage/retina-flag.png');} 
                  .crumpled-box .scroll-wrapper{background-image:url('../img/homepage/retina-scroll-arrow.png');} 
                  .crumpled-box .logo{background-image:url('../img/homepage/retina-readymag.png');}}
@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-device-width:767px){
    .content-wrapper .page.page-intro .content .logo{background-image:url('../img/homepage/retina-logo.png');} 
                  .content-wrapper .page.page-create .content .mac{background-image:url('../img/homepage/iphone/retina-mac-body.png');} 
                  .content-wrapper .page.page-discover .content .ipad{background-image:url('../img/homepage/iphone/retina-ipad.png');}}@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-device-width:767px) and (orientation:landscape){.crumpled-box .logo{background-image:url('../img/homepage/iphone/retina-curtain-logo-landscape.png');}}